main > .container {
    padding: 70px 15px 20px;
}
.footer {
    /* background-color: #f5f5f5;*/
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.colornavbar {
    background-color: black !important; 
}

.coloresletrablanca{
    color: white;
}
.card {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    min-height: 98% !important;
    min-width: 98% !important;
  
    
}
.card2 {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 98% !important;
    min-width: 98% !important;
  
    
  
    
}
.card3 {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    //min-height: 95% !important;
    min-width: 100% !important;
  
    
}
.card-body {
    border-radius: 1.3rem;
    
}
.zoom {
    transition: transform .2s;
}
.centrar {
    text-align: center;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.coloresletrablanca{
    color: white;
}
.zoom:hover {
   
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.pegarizquierda {
    margin-left: 10px !important;
}
.espacioarriba {
    
margin-top: 100px;
}
.imgcard {
    align-content: center;
    height: 60%;
    width: 60%;
}
.imgcard2 {
    padding-left: 15%;
    height: 70%;
    width: 70%;
}

.imgcard3 {
    padding-left: 15%;
    height: 70%;
    width: 20%;
}

.paddbotones {
    padding-bottom: 10px;
    padding-left: 100px;
    padding-top: 20px;
    
}
.paddbotones2 {
    padding-bottom: 10px;
    padding-left: 13px;
    padding-top: 0px;
    
}
.paddletra {
    padding-bottom: 10px;
    padding-left: 45px !important;
    
}
.btn-fondo {
    width: 250px !important;
    color: black;
    background-color: white;
    border-color: gray;
}
.coloresletranegra{
    color: black;
   
}
.btn-fondo:hover {
    color: white;
    background-color: gray;
    border-color: gray;
}
.paddfotos{
    padding-left: 15%;
}
.espaciocard {
    margin-top: 25px;
    margin-bottom: 25px;
}

.espaciocard2{
    margin-top: 25px;
}
.paddtarjetas{
    margin-top: 35px;
}

.btn-fondo2 {
    width: 915px !important;
    color: white;
    background-color: black;
    border-color: gray;
}

.btn-fondo2:hover {
    color: black;
    background-color: gray;
    border-color: black;
}

.btn-fondo3:hover {
    color: black;
    background-color: gray;
    border-color: black;
}
.btn-fondo3 {
    width: 200px !important;
    color: white;
    background-color: black;
    border-color: gray;
}

.btn-success {
    width: 200px !important;
    color: white;
    background-color: black;
    border-color: gray;
}
.btn-success:hover {
      color: black;
    background-color: gray;
    border-color: black;
}

.breadcrumb {
    color: white !important;
    background-color: black !important;
}

.breadcrumb-item {
    color: white !important;
    
}

a.breadcrumb-item {
    color: white !important;
    
}
.breadcrumb-item > a{
    color: white ;
}
a{
    color: black;  
}

a:hover{
    text-decoration: none;
}
body{
 font-family:  opensans;  
}

#loaderPtr {
  position: absolute;
  left: 60%;
  top: 300px;//50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.padslider{
    padding-top: 15px;
}
 
.card4 {
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    //min-height: 95% !important;
    min-width: 100% !important;
  
    
}